@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-weight:bold;
  font-size:25px;
  font-family: 'Sanchez', serif;
  padding: 0;
  padding: 80px 0;
  text-align: center;
   background-color: white;
  height: 100%;
  margin: 0;
}
/* Changes the UI Text*/
.date{
  float:left;
  padding:20px;
}
.time{
  float:right;
  padding:20px;
}
.sun{
  margin-top:-5%;
  padding:20px;
  animation: rotating 60s linear infinite;
}
/* Rotates the sun icon */
@keyframes rotating {
  from{
      transform: scale(.9) rotate(0deg);
  }
  to{
      transform: scale(.9) rotate(360deg);
      
  }
}


.temp{
  padding:10px 0 0;
}

.hr{
  width:85%;
  border-top: 4px solid black;
}
.degree{
color:red;
}
.panel {
  height: 400px;
  perspective: 600px;
  position: relative;
  border-radius: 8px;
  margin: 0 auto;
  width: 320px;

 }

.panel .panel-front {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0);
  transition: all .4s ease-in-out;
  backface-visibility: hidden;
  box-shadow: 0 1px 8px rgba(0,0,0,0.4);
  height: 100%;
  border-radius: 8px;

  left: 0;
  top: 0;

  width: 100%;
}

